
.home-page {
    background-color: #FDFDFD;
    display: flex;                  
    align-items: center;            
    justify-content: center;        
    gap: 4rem;
    padding: 6rem 4rem;            
    box-sizing: border-box;
    min-height: 100vh;
}
  
.intro-image {
    flex: 2;                        
    display: flex;
    justify-content: center;        
    align-items: center;            
    padding: 6rem 2rem;
}

.intro-text {
    flex: 3;                        
    color: #333;
    text-align: left;               
    padding: 2rem 2rem;
    opacity: 0.8;
}
  
.profile-pic {
    width: 500px;
    height: 500px;
    border-radius: 50%;    
    border: 5px solid #ddd;         
}

.home-page .intro-text .highlight {
    color: #f0a500; 
}

.intro-text h1 {
    margin: 0;
    font-size: 3.5rem;             
    margin-bottom: 1rem;           
}

.intro-text p {
    font-size: 1.5rem;              
    line-height: 1.6;               
    padding: 0.5rem;
}

.resume-btn {
    display: inline-block;
    padding: 10px 20px; 
    margin-top: 10px; 
    color: black; 
    border: 5px solid #ddd;
    text-decoration: none; 
    font-size: 24px; 
    transition: background-color 0.3s ease;
    font-weight: bold;
    opacity: 0.8;
}
  
.resume-btn:hover {
    background-color: #f0a500;
} 


@media (max-width:1280px) and (min-width:768px){

    .home-page{
        gap: 2rem;
        padding: 1rem 1rem; 
        padding-top: 3rem; 
        width: 100vw; 
    }
    .intro-image{
        padding: 1rem 1rem;
    }

    .profile-pic{
        width: 300px;
        height: 300px;
    }

    .intro-text{
        padding: 1rem 1rem; 
    }

    .intro-text h1 {
        margin: 0;
        font-size: 2.5rem;             
        margin-bottom: 1rem;          
    }
    
    .intro-text p {
        font-size: 1.5rem;              
        line-height: 1;               
        padding: 0.5rem;
    }
    
    .resume-btn {
        display: inline-block;
        padding: 5px 10px; 
        margin-top: 10px; 
        color: black; 
        border: 5px solid #ddd;
        text-decoration: none; 
        font-size: 16px; 
        transition: background-color 0.3s ease;
        font-weight: bold;
        opacity: 0.8;
    }
}

@media (min-width:480px) and (max-width: 768px) {
    .home-page {
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        gap: 0rem;
    }

    .intro-image{
        padding: 2rem 1rem;
        padding-top: 2rem;
    }

    .intro-text{
        padding: 2rem 1rem;
    }

    .profile-pic{
        width: 350px;
        height: 350px;
    }

    .intro-text h1 {
        margin: 0;
        font-size: 3rem;             
        margin-bottom: 1rem;           
    }
    
    .intro-text p {
        font-size: 1.5rem;              
        line-height: 1;               
        padding: 0.5rem;
    }
    
    .resume-btn {
        display: inline-block;
        padding: 5px 10px; 
        margin-top: 10px; 
        color: black; 
        border: 5px solid #ddd;
        text-decoration: none; 
        font-size: 20px; 
        transition: background-color 0.3s ease;
        font-weight: bold;
        opacity: 0.8;
    }
}

@media (max-width: 480px) {
    .home-page {
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        gap: 0rem;
        padding: 1rem 2rem;
    }

    .intro-image{
        padding: 1rem 0.5rem;
        padding-top: 3.5rem;
    }

    .intro-text{
        padding: 1rem 0.5rem;
    }

    .profile-pic{
        width: 300px;
        height: 300px;
    }

    .intro-text h1 {
        margin: 0;
        font-size: 2.5rem;             
        margin-bottom: 1rem;           
    }
    
    .intro-text p {
        font-size: 1.5rem;              
        line-height: 1;               
        padding: 0.5rem;
    }
    
    .resume-btn {
        display: inline-block;
        padding: 5px 10px; 
        margin-top: 10px; 
        color: black; 
        border: 5px solid #ddd;
        text-decoration: none; 
        font-size: 20px; 
        transition: background-color 0.3s ease;
        font-weight: bold;
        opacity: 0.8;
    }
}