
.projects-page {
    background-color: #f4f4f4; /* Light background color */
    color: #333; /* Text color */
    min-height: 100vh; /* Full viewport height */
    padding: 20px 20px; /* Padding around the content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .projects-title {
    font-size: 2.5em;
    margin-bottom: 30px; 
    text-align: center;
  }
  
  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Position relative for nav button positioning */
    width: 70%; /* Adjust width as needed */
  }
  
  .project-tile {
    background-color: aliceblue;
    position: relative; /* For positioning the hover effect */
    cursor: pointer;
    width: 800px; /* Full width for the carousel */
    height: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflow for hover effect */
    transition: transform 0.3s ease; /* Smooth hover effect */
    text-align: center; /* Center text inside the tile */
  }
  
  .project-image-container {
    position: relative;
    /* width: 100%; */
    /* height: 300px; Fixed height for the image container */
    overflow: hidden; /* Hide overflow for hover effect */
    padding: 0.5rem 0.5rem;
  }
  
  .project-image {
    width: 100%;
    height: 500px;
    object-fit: fill; /* Cover the container while maintaining aspect ratio */
    transition: opacity 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .project-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: white;
    opacity: 0; /* Start hidden */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem;
    transition: opacity 0.3s ease; /* Smooth transition for hover effect */
    font-size: 1.5rem;
  }
  
  .project-tile:hover .project-description {
    opacity: 1; /* Show description on hover */
  }
  .project-tile:hover .project-image {
    opacity: 0.4; /* Show description on hover */
  }
  
  .project-title {
    font-size: 2em;
    margin: 15px 0;
  }
  
  .nav-button {
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #333; /* Button text color */
    padding: 10px;
    transition: color 0.3s ease; /* Smooth hover transition */
  }
  
  .nav-button:hover {
    color: #555; /* Darker color on hover */
  }
  
  .nav-button.left {
    position: absolute;
    left: -40px; /* Adjust positioning as needed */
    top: 50%;
    transform: translateY(-50%);
  }
  
  .nav-button.right {
    position: absolute;
    right: -40px; /* Adjust positioning as needed */
    top: 50%;
    transform: translateY(-50%);
  }
  