
.navbar{
    display: flex;
    /* position: fixed; */
    padding: 0.5rem 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: #323437;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    /* z-index: 1000; */
    width: 100%;
    box-sizing: border-box;
}

.nav-panel{
    display: flex;
}

.navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-links li {
    padding: 0rem 0.5rem;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 1.5rem;
}
 
 
.navbar-links a:hover {
    color: #f0a500;
}


.contact-btn {
    background-color: #f0a500;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 0.3rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.5rem;
    white-space: nowrap;
}
  
.contact-btn:hover {
    background-color: #d48c00;
}

.hamburger-icon {
    font-size: 2rem;
}

.navbar-hamburger {
    display: none;
    cursor: pointer;
    padding: 1rem;
}


/* Media Queries */

/* For screens between 480px and 768px */
/* @media (min-width: 480px) and (max-width: 768px) {

    .navbar{
        box-sizing: border-box;
    }

    .navbar-links {
        display: none;
    }

    .navbar-hamburger {
        display: block;
    }

    
    .navbar-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px; 
        right: 0;
        background-color: #323437;
        width: 50%;
        padding: 1rem;
        text-align: center;
    }
} */

/* For screens smaller than 480px */
/* @media (max-width: 480px) {

    .navbar{
        box-sizing: border-box;
    }

    .navbar-logo a {
        padding: 0 1rem; 
    }

    .navbar-links {
        display: none;
    }

    .navbar-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px; 
        right: 0;
        background-color: #323437;
        width: 50%; 
        padding: 1rem;
        text-align: center;
    }

    .navbar-hamburger {
        display: block;
    }
} */
