
.about-page {
    background-color: #FDFDFD;
    display: flex;                
    align-items: center;            
    justify-content: center;     
    gap: 4rem;      
    padding: 6rem 4rem;            
    box-sizing: border-box;  
    min-height: 100vh;         
}
  
.about-image {
    flex: 2;                        
    display: flex;
    justify-content: center;        
    align-items: center;            
    padding: 2rem 2rem;

}
  
.about-pic {
    height: 530px;
    width: 450px;                 
    border-radius: 30%;             
    padding: 2rem 0rem;
}
  
.about-text {
    flex: 3;                        
    color: #333;                    
    text-align: left;               
    padding: 2rem 2rem;
    opacity: 0.8;

}

.profile-icons {
    justify-content: space-around;
    margin-bottom: 20px;
}
  
.profile-icon {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 1rem;
}

.profile-icon > img{
    width: 50px;
}
  
.profile-icon:hover {
    transform: translateY(-5px);
}
  
.about-text h1 {
    font-size: 3.5rem;              
    margin-bottom: 1rem;            
}
  
.about-text p {
    font-size: 1.5rem;              
    line-height: 1.6;               
}

@media (max-width:1280px) and (min-width:768px){

    .about-page{
        gap: 2rem;
        padding: 1rem 1rem;  
        width: 100vw; 
    }
    .about-image{
        padding: 1rem 1rem;
    }

    .about-pic{
        width: 300px;
        height: 350px;
    }

    .about-text{
        padding: 1rem 1rem; 
    }

    .about-text h1 {
        margin: 0;
        font-size: 2.5rem;             
        margin-bottom: 1rem;          
    }
    
    .about-text p {
        font-size: 1.5rem;              
        line-height: 1;               
        padding: 0rem 0.5rem;
    }

}

@media (min-width:480px) and (max-width: 768px) {
    .about-page {
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        gap: 0rem;
        padding: 1rem 2rem;
    }

    .about-image{
        padding: 2rem 0rem;
        display: none;
    }

    .about-text{
        padding: 4rem 2rem;
    }

    .about-pic{
        width: 310px;
        height: 350px;
    }

    .about-text h1 {
        margin: 0;
        font-size: 3rem;             
        margin-bottom: 1rem;           
    }
    
    .about-text p {
        font-size: 1.5rem;              
        line-height: 1;               
        padding: 0.5rem;
    }

    .profile-icon > img{
        width: 40px;
    }
   
}

@media (max-width: 480px) {
    .about-page {
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        gap: 0rem;
        padding: 1rem 2rem;
    }

    .about-image{
        display: none;
        padding: 0.5rem 0.5rem;
    }

    .about-text{
        padding: 2rem 0.5rem;
    }

    .about-pic{
        width: 230px;
        height: 280px;
    }

    .about-text h1 {
        margin: 0;
        font-size: 2.5rem;             
        margin-bottom: 1rem; 
        padding-top: 2rem;          
    }
    
    .about-text p {
        font-size: 1.5rem;              
        line-height: 1;               
        padding: 0.5rem;
    }

    .profile-icons{
        justify-content: space-around;
        margin-bottom: 0px;
    }

    .profile-icon > img{
        width: 30px;
    }
    
}