
.about-page {
    display: flex;                  /* Flexbox to create a two-column layout */
    align-items: center;            /* Vertically center items */
    justify-content: center;        /* Center content horizontally */
    padding: 8rem;                  /* Padding around the section */
    gap: 2rem;                      /* Space between the two columns */
  }
  
  .about-image {
    flex: 2;                        /* 2 parts of the total space (2:3 ratio) */
    display: flex;
    justify-content: center;        /* Center the image horizontally */
    align-items: center;            /* Center the image vertically */
    padding: 0 8rem;

  }
  
  .about-pic {
    width: 100%;                     /* Size of the image */
    height: 100%;                   /* Maintain aspect ratio */
    border-radius: 30%;             /* Make the image circular */
    /* border: 5px solid #ddd;         Optional border around the image */
    
  }
  
  .about-text {
    flex: 3;                        /* 3 parts of the total space (2:3 ratio) */
    color: #333;                    /* Dark text color */
    text-align: left;               /* Align text to the left */
    padding: 0 8rem;
    opacity: 0.8;

  }
  
  .about-text h1 {
    font-size: 3.5rem;              /* Larger font size for the heading */
    margin-bottom: 1rem;            /* Space below the heading */
  }
  
  .about-text p {
    font-size: 1.5rem;              /* Font size for the paragraph */
    line-height: 1.6;               /* Line height for better readability */
  }
  